<script type="application/json" id="random-song">
  <%= @song.to_json.html_safe %>
</script>

<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>

<% if @user %>
<a href="<%= destroy_user_session_url %>" data-method="delete" rel="nofollow"><li>Sign Out</li></a>
<%= @user.email %>
<% end %>

<label>Autocomplete Box</label>
<input type="text" class="auto-box"></input>

<script src="http://toma.hk/api.js?v=1"></script>
<script type="application/javascript">

var queryEchoNest = function(){
  $.ajax({
    url: 'http://developer.echonest.com/api/v4/artist/suggest?api_key=FILDTEOIK2HBORODV&name=cala&results=10',

  })
}

$('.auto-box').autocomplete(function(request, response){

})

var fetchArtists = function(){

}

$('.auto-box').on("keyup", function(){
  console.log("Hello!");
})

var random_song = JSON.parse($('#random-song').html());
console.log(random_song)
var track;
var isResolved;
track = window.tomahkAPI.Track(random_song.title,
    random_song.artist, 
    {
    width: 300,
    height: 300,
    disabledResolvers: ["SpotifyMetadata"],
        // options: "SoundCloud", "Officialfm", "Lastfm", "Jamendo", "Youtube", "Rdio", "SpotifyMetadata", "Deezer", "Exfm"
    handlers: {
        onloaded: function() {
            console.log(track.connection + ":\n  api loaded");
        },
        onended: function() {
            console.log(track.connection + ":\n  Song ended: "+track.artist+" - "+track.title);
        },
        onplayable: function() {
            console.log(track.connection+":\n  playable");
        },
        onresolved: function(resolver, result) {
            console.log(track.connection+":\n  Track found: "+resolver+" - "+ result.track + " by "+ result.artist);
        },
        ontimeupdate: function(timeupdate) {
        }
    }
});
console.log("HERE THIS IS");
$('body').append(track.render())
</script>