<script type="application/json" id="random-song">
  <%= @song.to_json.html_safe %>
</script>

<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>

<% if @user %>
<a href="<%= destroy_user_session_url %>" data-method="delete" rel="nofollow"><li>Sign Out</li></a>
<%= @user.email %>
<% end %>

<label>Autocomplete Box</label>
<input type="text" class="auto-box"></input>

<script src="http://toma.hk/api.js?v=1"></script>
<script type="application/javascript">

var printer = function(){

}

$('.auto-box').autocomplete({
  source: function(request, response){
    console.log("request term")
    console.log(request.term)
    $.ajax({url: "http://developer.echonest.com/api/v4/artist/suggest",
      data: {"api_key": "FILDTEOIK2HBORODV", "name": request.term, "results": 10},
      type: "get"}).done(function(data){ 
        response(data["response"]["artists"].map(function(x){return x.name}));
      })
    }
});

</script>