/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html, body, section, h6 {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  border: 0;
}
.main {
  width: 800px;
  background: pin;
}
.scoreboard {
  display: block;
  position: fixed;
  top:0;
  right:0;
  background:gray;
  font-size: 2em;
  text-align: center;
  
}

.cont {
  display: block;
  background: blue;
  position: relative;
  margin: 0 auto;

  width: auto;
}

.signout {
  background:purple;
  display: block;
  position: relative;
  width: auto;
}